<h1>My Blog</h1>

<% @blog_posts.each do |blog_post| %>
  <div>
    <h2><%= link_to blog_post.title, blog_post %></h2>
    <%= blog_post.content %>
    <% if blog_post.draft? %>
      <div class="py-1 rounded bg-gray-100">Draft</div>
    <% elsif blog_post.scheduled? %>
      <div class="py-1 rounded bg-blue-100">Scheduled</div>
    <% end %>
  </div>
<% end %>

<% if @pagy.count > @pagy.items %>
  <div class="my-5">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>